body
{
	background-color:#000;
	color:#00cc00;
	font-family:sans-serif;
	font-size:100%;
}
h1
{
	font-size:3em;
	padding-top:1em;
	padding-bottom:1em;
}
nav
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#555;
}
nav .centerize
{
	padding-top:1.15em;
}
nav a:hover
{
	background-color:#777;
	background-color:#444;
	color:#00cc00;
}

.button a
{
	padding:0.50em;
	background-color:#444;
	color:#00cc00;
	text-decoration:none;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
}
.card
{
	width:80%;
	background-color:#444;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
	border-radius:1em;
	padding:1em;
}
.inline
{
	display:inline-block;
}
.centerize
{
	display:block;
	text-align:center;
}
#centerFix
{
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
	background-color:#222;
	padding:1em;
}
#logo
{
	float:left;
	max-height:3em;
	max-width:3.3em;
	padding:0.5em;
}
@media screen and (max-width : 400px){
	body
	{
		font-size:125%;
	}
	h1
	{
		font-size:2.5em;
	}
	#centerFix
	{
		max-width:380px;
	}
}
