body
{
	background-color:#0641AE;
	color:#fff;
	font-family:'Open Sans', sans-serif;
	font-size:100%;
}
h1
{
	font-size:3em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
nav
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#011335;
	padding:0.5em;
	z-index: 2;
}
nav a:hover, .button a:hover
{
	background-color:#aaa;
	color:#ffffff;
}
a[href]
{
	color:#FFA500;
}
.button a
{
	padding:0.50em;
	background-color:#444;
	color:#fff;
	text-decoration:none;
	border-style:solid;
	border-width:2px;
	border-radius:4px;
}
.card
{
	width:80%;
	background-color:#030138;
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
	margin-bottom:2em;
	border-radius:1em;
	padding:1em;
	box-shadow: 20px 15px 10px #FFCF77;
}
.inline
{
	display:inline-block;
}
.centerize
{
	display:block;
	text-align:center;
}
#centerFix
{
	position:relative;
	top:3em;
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
	background-color:#7197DB;
	padding:1em;
}
#logo
{
	float:left;
	max-height:3em;
	max-width:3.3em;
}
#navButtons
{
	line-height:3em;
}
@media screen and (max-width : 400px){
	body
	{
		font-size:125%;
	}
	h1
	{
		font-size:2.5em;
	}
	#logo
	{
		max-height:6em;
		max-width:6.6em;
	}
}
