body
{
	background-color:#0641AE;
	color:#fff;
	font-family: 'Arimo', sans-serif;
	font-size:100%;
}
h1
{
	font-size:3em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
nav
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#011335;
	padding:0.5em;
	z-index: 2;
}
a[href]
{
	color:#FFA500;
}
p
{
	font-family: 'Merriweather', serif;
	line-height:1.4em;
}
.button:hover
{
	background-color:#aaa;
	color:#ffffff;
}
.button
{
	padding:0.50em;
	background-color:#444;
	border-style:solid;
	border-width:2px;
}
.button *
{
	margin:0em;
}
.button a
{
	color:#fff;
	text-decoration:none;
}
.card
{
	width:80%;
	background-color:#030138;
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
	margin-bottom:2em;
	padding:1em;
	box-shadow: 20px 15px 10px #FFCF77;
}
.inline
{
	display:inline-block;
}
.centerize
{
	display:block;
	text-align:center;
}
.logoTiltBackground
{
	background-image:url('./logoTiltBlue.gif');
	background-size:4% auto;
	margin:-1em;
	margin-bottom:3em;
	padding: 1em;
	padding-bottom:3.5em;
}
.logoTiltBackground h1, .logoTiltBackground h2
{
	text-shadow:5px 5px 5px #000;
}
.logoTiltBackground h2 a
{
	text-shadow:none;
}
#transparentFade
{
	background:-webkit-linear-gradient( rgba(255,0,0,0), rgba(113,151,219,1));
	background:-o-linear-gradient( rgba(255,0,0,0), rgba(113,151,219,1));
	background:-moz-linear-gradient( rgba(255,0,0,0), rgba(113,151,219,1));
	background:linear-gradient( rgba(255,0,0,0), rgba(113,151,219,1));
	height:15em;
	margin:-15em -1em -5em;
}
#centerFix
{
	position:relative;
	top:3em;
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
	background-color:#7197DB;
	padding:1em;
}
#logo
{
	float:left;
	max-height:3em;
	max-width:3.3em;
}
#navButtons
{
	line-height:3em;
}
@media screen and (max-width : 490px)
{
	.button
	{
		margin-top:1em;
	}
}
@media screen and (max-width : 400px){
	body
	{
		font-size:125%;
	}
	h1
	{
		font-size:2.5em;
	}
	#logo
	{
		max-height:6em;
		max-width:6.6em;
	}
}
@media screen and (max-width : 350px){
	.button h2
	{
		font-size:0.75em;
	}
}
